<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="SCCJ">
    <meta name="description" content="歡迎各位將用不到的東西傳承給學弟妹們！！">
    <meta name="keywords" content="NCHU,中興大學,興大二手拍,興大APP,NCHU APP">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="💰 NCHU 二手拍賣APP">
    <meta name="twitter:description" content="歡迎各位將用不到的東西傳承給學弟妹們！！">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:image" content="https://img.onl/rm6DMG">
    <!-- Open Graph general (Facebook, Pinterest)-->
    <meta property="og:title" content="💰 NCHU 二手拍賣APP">
    <meta property="og:description" content="歡迎各位將用不到的東西傳承給學弟妹們！！">
    <meta property="og:url" content="https://sclemon.github.io/nchu-secondHand/">
    <meta property="og:site_name" content="sclemon.github.io">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://img.onl/rm6DMG">
    <link rel="apple-touch-icon" sizes="57x57" href="ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
    <link rel="manifest" href="ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <title>中興大學二手拍賣場</title>
    <link rel="preconnect" href="https://ka-f.fontawesome.com">
    <script src="js/vue.js" defer></script>
    <script src="js/index.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    [v-cloak]{
        display: none;
    }
</style>
<body>
    <div class="app" id="app" v-cloak>
        <div class="alertMsgBlock" v-if="alertMsgBlock">
            <p v-if="alertOption=='check'"><i class="fa-solid fa-circle-check check"></i> {{alertMsg}}</p>
            <p v-if="alertOption=='warn'"><i class="fa-solid fa-circle-exclamation warn"></i> {{alertMsg}}</p>
            <p v-if="alertOption=='error'"><i class="fa-solid fa-circle-xmark error"></i> {{alertMsg}}</p>
        </div>
        <div class="firstPage" v-if='!loginSuccess'>
            <div class="banner"></div>
            <div class="intro">
                <p>1.本系統僅對會員登入之帳號與密碼進行收集。</p>
                <p>2.未避免外校/閒雜人物亂入，僅供校內信箱進行註冊驗證。</p>
                <p>3.本系統不支援金流串接，僅提供預約功能，以面交為主。</p>
                <p>4.未避免個資外流，本系統的買賣交流方式以 Email 為主。</p>
                <p>5.本系統為非營利應用程式，請友善對待此平台。</p>
                <p>6.使用者識別碼為獨特性，將寄件至註冊帳號中。</p>
            </div>
            <div class="login" v-if="loginPageIndex==1">
                <h1>會員登入</h1>
                <div class="loginForm">
                    <div class="user">
                        <div class="icon"><i class="fa-solid fa-user"></i></div>
                        <div class="loginInput">
                            <input type="text" placeholder="請輸入學校電子信箱" v-model="loginData.user">
                        </div>
                    </div>
                    <div class="password">
                        <div class="icon"><i class="fa-solid fa-key"></i></div>
                        <div class="loginInput">
                            <input type="password" placeholder="請輸入密碼" v-model="loginData.password">
                        </div>
                    </div>
                    <div class="password">
                        <div class="icon"><i class="fa-solid fa-fingerprint"></i></div>
                        <div class="loginInput">
                            <input type="password" placeholder="使用者識別碼" v-model="loginData.code">
                        </div>
                    </div>
                    <div class="loginBtn" @click="login()">登入</div>
                    <div class="goReg" @click="changeLoginIndex(2)">還沒有帳號嗎？</div>
                </div>
            </div>
            <div class="login" v-if="loginPageIndex==2">
                <h1>會員註冊</h1>
                <div class="loginForm">
                    <div class="user">
                        <div class="icon"><i class="fa-solid fa-user"></i></div>
                        <div class="loginInput">
                            <input type="text" placeholder="請輸入學校電子信箱" v-model="registerData.user">
                        </div>
                    </div>
                    <div class="password">
                        <div class="icon"><i class="fa-solid fa-key"></i></div>
                        <div class="loginInput">
                            <input type="password" placeholder="請輸入密碼" v-model="registerData.password">
                        </div>
                    </div>
                    <div class="loginBtn" @click="register()">註冊</div>
                    <div class="goReg" @click="changeLoginIndex(1)">已擁有會員帳號？</div>
                </div>
            </div>
        </div>
        <div class="mainPage" v-if="loginSuccess">
            <div class="item-intro it" v-if="openIndex==1">
                <i @click="closeItem()" class="fa-solid fa-xmark mark"></i>
                <img :src="product_intro.img" alt="">
                <h1>{{product_intro.title}}</h1>
                <p>${{product_intro.price}}</p>
                <div class="ct-intro">
                    <p class="ct-intro-title">產品介紹</p>
                    <p class="ct-intro-main">{{product_intro.intro}}</p>
                </div>
                <div class="item-intro-footer">
                    <div class="intro-total">合計：${{product_intro.price}}</div>
                    <div class="item-intro-btn" @click="reserve(product_intro.title,product_intro.img,product_intro.price,product_intro.intro,product_intro.mail,product_intro.key)">預約商品</div>
                </div>
            </div>
            <div class="item-intro2" v-if="openIndex==2">
                <div class="shop">
                    <i @click="closeItem()" class="fa-solid fa-xmark mark2"></i>
                    <div class="shop-title"><div class="stt">商品標題：</div><br><input type="text" v-model="uploadItem.title"></div>
                    <div class="shop-title"><div class="stt">商品價格：</div><br><input type="text" v-model="uploadItem.price"></div>
                    <div class="shop-title"><div class="stt">商品介紹：</div><br>
                        <textarea v-model="uploadItem.intro"></textarea>
                    </div>
                    <div class="shop-title"><div class="stt">商品縮圖(170x170px 以上):</div><input type='file' accept="image/jpg,image/png,image/jpeg" class="file" id="upload1" v-on:change="uploadFile(1)"><br></div>
                    <div class="shop-title"><div class="stt">商品縮圖(170x340px 以上):</div><input type='file' accept="image/jpg,image/png,image/jpeg" class="file" id="upload2" v-on:change="uploadFile(2)"><br></div>
                    <div class="shop-title">商品標籤:
                        <select name="" id="" v-model="uploadItem.tag">
                            <option value="書籍">書籍</option>
                            <option value="衣物">衣物</option>
                            <option value="宿舍用品">宿舍用品</option>
                            <option value="電子用品">電子用品</option>
                            <option value="零食">零食</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="shopbtn" @click="uploadEnabled?addItem():alert('上架進行中，請稍待片刻','warn')">上架商品</div>
                </div>
            </div>
            <div class="item-intro item-intro3" v-if="openIndex==3">
                <i @click="closeItem()" class="fa-solid fa-xmark mark2"></i>
                <h1 class="list-h1">下架商品列</h1>
                <div class="list">
                    <div class="li-c" v-for="obj in ownItem">
                        <div class="li-title">{{obj.title}}</div>
                        <div class="li-price">${{obj.price}}</div>
                        <div class="li-key" @click="removeEnabled?removeItem(obj.key,obj.title,obj.price):alert('下架進行中，請稍待片刻','warn')">下架商品</div>
                    </div>
                </div>   
            </div>
            <div class="item-intro2 item-intro4" v-if="openIndex==4">
                <div class="shop forum-form">
                    <i @click="closeItem()" class="fa-solid fa-xmark mark2"></i>
                    <h1 class="forum-title">發布留言板</h1>
                    <textarea class="forum-content" v-model="forumContent" placeholder="寫些想要說說的話吧！"></textarea>
                    <div class="shopbtn" @click="forumEnabled?uploadForum():alert('發布進行中，請稍待片刻','warn')">發布留言</div>
                </div>
            </div>
            <div class="header">
                <div class="mpTitle">
                    <div class="mpLogo">NCHU</div>
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" v-model="keyword" placeholder="輸入關鍵字查詢商品">
                    </div>
                    <div class="filter" @click="showFilter()"><i class="fa-solid fa-filter"></i></div>
                    <div class="filterBar" id="filterBar">
                        <div id="fil">
                            <div><input type="radio" name="filter" :change="doFilter()" value="all" v-model="filterName">全部</div>
                            <div><input type="radio" name="filter" :change="doFilter()" value="宿舍用品" v-model="filterName">宿舍用品</div>
                            <div><input type="radio" name="filter" :change="doFilter()" value="電子用品" v-model="filterName">電子用品</div>
                            <div><input type="radio" name="filter" :change="doFilter()" value="書籍" v-model="filterName">書籍</div>
                            <div><input type="radio" name="filter" :change="doFilter()" value="衣物" v-model="filterName">衣物</div>
                            <div><input type="radio" name="filter" :change="doFilter()" value="零食" v-model="filterName">零食</div>
                            <div><input type="radio" name="filter" :change="doFilter()" value="其他" v-model="filterName">其他</div>
                            <div @click="sort()" class="sort">
                                <i class="fa-solid fa-arrow-up-wide-short" v-if="sortFlag==2"></i><!-- 由低至高 -->
                                <i class="fa-solid fa-arrow-down-wide-short" v-else></i><!-- 由高至低 -->
                                價格排序
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" v-if="mainPageIndex==0">
                <div class="content-control">
                    <div class="content-box" 
                    v-if="obj.title.includes(keyword)" 
                    v-for="obj in product" 
                    @click="openItem(obj.id,obj.title,obj.price,obj.img2,obj.intro,obj.mail,obj.key)">
                        <img :src="obj.img1" alt="">
                        <div class="pin"></div>
                        <h1>{{obj.title}}</h1>
                        <p>${{obj.price}}</p>
                        <div class="re">預約數：{{obj.per}}</div>
                    </div>
                </div>
            </div>
            <div class="content" v-if="mainPageIndex==1">
                <div class="content-control content-control2">
                    <div class="content-box content-box2" v-for="obj,index in forumItem">
                        <div class="art-date">{{obj.date}}
                            <i v-if="loginData.user==obj.user" @click="toggleMenu(index)" class="fa-solid fa-ellipsis-vertical menu"></i>
                            <div v-if="loginData.user==obj.user" class="menuBox" :id="'menu'+index">
                                <div class="menu-c" @click="deleteForum(obj.key)">刪除留言</div>
                            </div>
                        </div>
                        <div class="artist">
                            <img src="ico/apple-icon-57x57.png" alt="">
                            <p>{{obj.user}}</p>
                        </div>
                        <div class="artist-c">
                           {{obj.content}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="write" v-if="mainPageIndex==1" @click="openWindow(4)">
                <i class="fa-solid fa-pencil"></i>
            </div>
            <div class="footer">
                <div class="footer-content"  @click="main()">
                    <i class="fa-solid fa-house"></i>
                    <span>主頁</span>
                </div>
                <div class="footer-content" @click="openForum()">
                    <i class="fa-solid fa-message"></i>
                    <span>論壇</span>
                </div>
                <div class="footer-content" @click="openWindow(2)">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    <span>上架</span>
                </div>
                <div class="footer-content" @click='openWindow(3)'>
                    <i class="fa-solid fa-trash"></i>
                    <span>下架</span>
                </div>
                <div class="footer-content" @click="clearLogin()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>登出</span>
                </div>
            </div>
        </div>
            <canvas id="canvas" class="canvas"></canvas>
        </div>
</body>
<script src="https://kit.fontawesome.com/026fbb8b51.js" crossorigin="anonymous"></script>
</html>